html {
  width: 100%;
  height: 100%;
}

#contain{
	overflow:hidden;
	
	
	font-family:'Sue Ellen Francisco';
	font-size:25px;
	}
	


body{
	background-image: url("image/pokemonworld.jpg");
	position:relative;
	background-repeat: no-repeat;
	height: 100%; 
	width:100%;
	background-size: cover;
	overflow:auto;

}

.curtain{
	position:fixed;
	background: rgba(0,0,0,0.8);
	height: 100%; 
	width:100%;
	z-index:1;

}
.close:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.indi_poke :hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul, li{
		list-style-type: none;
	}
	
	.headOptions, h1 {
		float: left;
		padding-left:15px;
		padding-right:15px;
		margin-right: 8px;
		margin-left: 8px;
		font-family:'Sue Ellen Francisco';
		font-size:30px;
		
	}
	.header{
		overflow:hidden;
		
		
		min-width:40%;
		background: rgba(153,204,255,0.8);
		
		
	}
	
	li:hover{
		
		text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	
	
	.content{
		overflow:hidden;
	}
	

.pokemonCard{
	top:-40%;
}
.pika{
	position:absolute;
	z-index:1;
	right:-710px;
	
	
}

.infoCard{
	border-radius: 10px;
	border: 1px solid white;
	padding: 5px;
	overflow:hidden;
	font-family:'Sue Ellen Francisco';
	font-size:25px;
	float: left;
}
.pokesong{
	position:absolute;
	z-index:1;
}


